<a href="https://colab.research.google.com/github/owaisx22/Python-Daily-Classes/blob/main/OWAIS18_09_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
sentence = "Python programming language"
count = 0
for ch in sentence :
    if ch in "aeiou" :
        count += 1
print("Total vowels is :", count)

Total vowels is : 8

In [2]:
# Write a program on area of triangle using python language
base = 4
height = 5
triangle = 0.5 * base * height
print("Area of triangle is :", triangle)

Area of triangle is : 10.0

In [3]:
 # Write a program on area of circle using python language
 pi = 3.14
 radius = 4
 circle = pi * radius * radius
 print("Area of circle is :", circle)

Area of circle is : 50.24

In [9]:
num = [5, 25, 35, 28, 45, 10, 15]
largest = num[0]
for i in num :
    if i > largest :
        largest = i
print("Largest number is :", largest)

Largest number is : 45

In [17]:
# Write a programe count of consonents in string value
# "Bachelor of computer science first semester section C"
sentence = "Bachelor of computer science first semester section C"
count = 0
for ch in sentence :
    if ch not in "aeiou" :
        count += 1
print("Total consonents is :", count)

Total consonents is : 36

In [19]:
bikes = ["RX 100", "GT 650", "NINJA", "Splender", "Bajaj", "Pulsar", "NS 200", "M 80", "Unicorn"]
for bike in bikes :
    if bike == "NS 200" :
        break
    print(bike)

RX 100
GT 650
NINJA
Splender
Bajaj
Pulsar

In [23]:
colours = {"Purple", "Pink", "Black", "White", "Red", "Orange", "Levender", "Gray", "Yellow", "Maroon"}

for color in colours:
    if color == "Black":
        break
    print(color)

Yellow
Levender
Red
White
Maroon
Gray
Purple

In [27]:
things = {"Mobile", "Laptop", "Monitor", "Tab", "Book", "Pen", "Paper"}
for thing in things :
    if thing == "Mobile":
       continue
    print(thing)

Tab
Book
Pen
Laptop
Paper
Monitor

In [32]:
for i in range(10):
  for j in range(10):
    print("*",end=" ")
  print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [33]:
for i in range(10):
  for j in range(10):
    print("1",end=" ")
  print()

1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1

In [40]:
for i in range(10):
  for j in range(10):
    print(i,end=" ")
  print()

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [41]:
for i in range(10):
  for j in range(10):
    print(j,end=" ")
  print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

In [42]:
for i in range(1,10):
  for j in range(i):
    print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

In [47]:
for i in range(1,10):
  for j in range(j):
    print(i,end=" ")
  print()

1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5
6 6 6 6
7 7 7
8 8
9

In [54]:
for i in range(10):
    for j in range(0,i+1):
        print(" ",end=" ")
    for j in range(10):
        print("*",end=" ")
    print()

  * * * * * * * * * *
    * * * * * * * * * *
      * * * * * * * * * *
        * * * * * * * * * *
          * * * * * * * * * *
            * * * * * * * * * *
              * * * * * * * * * *
                * * * * * * * * * *
                  * * * * * * * * * *
                    * * * * * * * * * *

In [64]:
for i in range(5):
    for j in range(i+1,5):
        print(" ",end=" ")
    for j in range(5):
        print("*",end=" ")
    print()

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [69]:
row = 10
col = 10
for i in range(0,row):
    for j in range(0,col):
        if i == 0 or i == row-1 or j == 0 or j == col-1:
            print("☺️",end=" ")
        else:
            print(" ",end=" ")
    print()

☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️
☺️                 ☺️
☺️                 ☺️
☺️                 ☺️
☺️                 ☺️
☺️                 ☺️
☺️                 ☺️
☺️                 ☺️
☺️                 ☺️
☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️

In [71]:
for i in range(10):
    for j in range(i):
      print("☺️",end=" ")
    print()

☺️
☺️ ☺️
☺️ ☺️ ☺️
☺️ ☺️ ☺️ ☺️
☺️ ☺️ ☺️ ☺️ ☺️
☺️ ☺️ ☺️ ☺️ ☺️ ☺️
☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️
☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️
☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️ ☺️

In [78]:
num = 7
for i in range(0,num):
   for j in range(0,num-i-1):
       print(" ",end=" ")
   for j in range(0,i*2+1):
       print("*",end=" ")
   print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [86]:
num = 7
for i in range(0,num):
   for j in range(0,num-i-1):
       print(" ",end=" ")
   for j in range(0,i*2+1):
       print("O",end=" ")
   print()
   num = 7
for i in range(0,num):
   for j in range(0,i):
       print(" ",end=" ")
   for j in range(0,(num-i)*2-1):
       print("O",end=" ")
   print()

            O
          O O O
        O O O O O
      O O O O O O O
    O O O O O O O O O
  O O O O O O O O O O O
O O O O O O O O O O O O O
O O O O O O O O O O O O O
  O O O O O O O O O O O
    O O O O O O O O O
      O O O O O O O
        O O O O O
          O O O
            O

In [87]:
def add(a,b):
  print(f'Addition of two numbers is {a+b}')
add(5,10)

Addition of two numbers is 15

In [92]:
def Example(roll_num,name,section,department,college):
  print(f"My name is {name},i'm studying {department},in {college},college.My roll_number is {roll_num} and section is {section}")
Example(101,"Owais",'A',"BCA","KLE")

My name is Owais,i'm studying BCA,in KLE,college.My roll_number is 101 and section is A

In [99]:
def fun(name,game,time):
   print(f"I'm {name}, i'm playing {game} at {time} time")
fun(time = "evening",name = "Owais",game = "cricket")

I'm Owais, i'm playing cricket at evening time

In [103]:
def Laptop(name = "Lenovo"):
    print(f"My laptop is : {name}")
Laptop("Dell")
Laptop("HP")
Laptop()
Laptop("Asus")

My laptop is : Dell
My laptop is : HP
My laptop is : Lenovo
My laptop is : Asus