<a href="https://colab.research.google.com/github/owaisx22/Python-Daily-Classes/blob/main/OWAIS_19_09_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 1) Example sum of numbers using *args
def add(*args):
    total = 0
    for num in args :
        total += num
    print("Total value is :",total)

add(10,5)
add(5,4,9)
add(10,46,14,20)

Total value is : 15
Total value is : 18
Total value is : 90

In [10]:
def print_details(**kwargs):
 for key, value in kwargs.items():
        print(f"{key}={value}")

print_details(name='Basavaraj',age=25,city='Bangalore')

name=Basavaraj
age=25
city=Bangalore

In [15]:
def details(**kwargs):
  for key, value in kwargs.items():
         print(f"{key}={value}")

details(Course="BCA",Section='C',College="BK College")
details(Place = "Belagavi")
details(roll_number=201, Total_Subject=7)
details(Laptop = "Lenovo", O_S = "Window", Year = 2022, Version = "Windows")

Course=BCA
Section=C
College=BK College
Place=Belagavi
roll_number=201
Total_Subject=7
Laptop=Lenovo
O_S=Window
Year=2022
Version=Windows

In [17]:
# Example of *args and **kwargs
def Show_values(*args,**kwargs):
    print("Positional Arguments represented in Tuple",args)
    print("Key - words Arguments represented in Dict ",kwargs)
Show_values(1,2,3,4,name="Owais")

Show_values(5,8,1,10,Class = "BCA C section",Gender = "Male")

Positional Arguments represented in Tuple (1, 2, 3, 4)
Key - words Arguments represented in Dict  {'name': 'Owais'}
Positional Arguments represented in Tuple (5, 8, 1, 10)
Key - words Arguments represented in Dict  {'Class': 'BCA C section', 'Gender': 'Male'}

In [19]:
def fact(num):
    if num == 0 or num == 1:
        return num
    else:
        return num * fact(num-1)
print("Factorial number is :",fact(5))

Factorial number is : 120

In [23]:
def sum(num):
    if num == 0 :
        return num
    else:
        return num + sum(num-1)
print("Sum of N natural number is :",sum(10))

Sum of N natural number is : 55

In [28]:
# fibonacci series / number using function recusion
def fibo(num):
  if num <= 1 :
      return num
  else :
      return fibo(num-1) + fibo(num-2)
for i in range(11):
   print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [24]:
class Class Name:
  def_init_(self,attributes):
    self.attributes = attributes

SyntaxError: invalid syntax (ipython-input-3919779738.py, line 1)

In [26]:
class Fruit:
  colour="Orange"
  prize=250
  taste="Sweet"
  shape="Circle"
  def juice(self):
      print("good")
Orange = Fruit()
print("orange colour is",Orange.colour)

orange colour is Orange

In [45]:
class Flower:
  Smell = "Nice"
  Petal = 5
  Size = "Medium"
  Gender = "Male"
  Validity = 1.5
  def Decoration(self):
      print("Hello Good Morning")
  def Gift(self):
      print("Good Afternoon")
  def Marriage(self):
      print("Marriage")
  def Death(self):
      print("This flower using for death time")

Obj = Flower()
Obj.Marriage()
print(Obj.Gender)
Obj.Decoration()
Obj.Gift()

Marriage
Male
Hello Good Morning
Good Afternoon

In [47]:
class Fan :
   colour = "Black"
   Wings = 3
   C_name = "Bajaj"
   Price = 1500
   Warrenty = "2 years"
   def start(self):
       print("When click on button it'll start")
   def speed(self):
       print("Based on condition it'll move fast")
   def stop(self):
       print("When click on off button it'll start")

Obj = Fan()
print(Obj.C_name+ " "+ Obj.Warrenty)
Obj.stop()
Obj.start()

Bajaj 2 years
When click on off button it'll start
When click on button it'll start

In [69]:
# Banking Example
class Bank :
    def __init__(self,balance):
      self.balance = balance

    def dDeposit(self,amount):
        self.balance += amount

    def Withdraw(self,amount):
        if amount <= self.balance:
            self.balance -= amount
            print("Transaction Successfully")
        else:
            print("Insufficient balance")

    def re_balance(self):
        return self.balance

Obj = Bank(1000)
print(Obj.balance)
Obj.dDeposit(500)
print(Obj.balance)
Obj.Withdraw(700)
print(Obj.re_balance())
Obj.dDeposit(1000)
print("Current total balance is",Obj.balance)
Obj.Withdraw(2000)
Obj.Withdraw(300)
print(Obj.re_balance())

1000
1500
Transaction Successfully
800
Current total balance is 1800
Insufficient balance
Transaction Successfully
1500

In [78]:
# Encapsulation Example
class Student :
    def __init__(self,name,marks,place):
      self.__name = name
      self.__marks = marks
      self.__place = place

    def set_method(self,name,marks):
      self.__name = name
      self.__marks = marks

    def get_name(self):
      return self.__name

    def get_marks(self):
      return self.__marks

    def get_place(self):
      return self.__place


Obj = Student("Owais",90,"Belgavi")
Obj.set_method("Rehan",68)
print(Obj.get_name())
print(Obj.get_marks())

Rehan
68

In [85]:
class Student :
    def __init__(self,name,marks):
      self.__name = name
      self.__marks = marks
    def set(self,name,marks):
      self.__name = name
      self.__marks = marks
    def get(self):
      return self.__name


Obj = Student("Owais",90)
Obj.set("Rehan",68)
print(Obj.get())

Rehan

In [87]:
# 1) Single Inheritance
class Parent :
    def Work(self):
        print("My parents are doing farming")

class Children(Parent) :
  def Study(self):
     print("I'm studying BCA in BK College")

Ch = Children()
Ch.Work()
Ch.Study()

My parents are doing farming
I'm studying BCA in BK College

In [88]:
# Multiple Inheritance
class Father :
    def Hi(self):
        print("My father is my first hero")

class Mother :
    def Hello(self):
        print("My mother is a housewife")

class Child(Father, Mother):
    def Bye(self):
        print("I'm working as a Freelancer")

Obj = Child()
Obj.Hi()
Obj.Hello()
Obj.Bye()

My father is my first hero
My mother is a housewife
I'm working as a Freelancer

In [92]:
# Multi Level Inheritance
class Grand_Parents :
   def Moon(self):
       print("ðŸŒ›ðŸŒ›ðŸŒ›ðŸŒ›ðŸŒ›")

class Parents (Grand_Parents) :
    def Bear(self):
        print("ðŸ»ðŸ»ðŸ»ðŸ»ðŸ»")

class Children(Parents):
    def Car(self):
        print("ðŸš—ðŸš—ðŸš—ðŸš—ðŸš—")

C = Children()
C.Bear()
C.Moon()
C.Car()

ðŸ»ðŸ»ðŸ»ðŸ»ðŸ»
ðŸŒ›ðŸŒ›ðŸŒ›ðŸŒ›ðŸŒ›
ðŸš—ðŸš—ðŸš—ðŸš—ðŸš—

In [93]:
# Hirachy Inheritance
class Parents :
    def Business(self):
        print("I'm working as a Freelancer")

class Child1(Parents):
    def Study(self):
        print("I'm studying BCA in BK College")

class Child2(Parents):
    def Work(self):
        print("My parents are doing farming")

C1 = Child1()
C2 = Child2()
C1.Study()
C2.Business()

I'm studying BCA in BK College
I'm working as a Freelancer

In [94]:
# Hybrid Inheritance
class A :
    def Hi(self):
        print("Hiiiiiiiiiiiiii")

class B(A):
    def Hello(self):
        print("Helloooooooo")

class C(A):
    def Bye(self):
        print("Byeeeeeeeeee")

class D(B,C):
    def Good(self):
        print("Gooddddddddd")

Obj = D()
Obj.Hi()
Obj.Hello()
Obj.Bye()
Obj.Good()

Hiiiiiiiiiiiiii
Helloooooooo
Byeeeeeeeeee
Gooddddddddd