In [ ]:
Example = (1,"Sharath",3.12,False)
print(Example)
print(len(Example))
print(type(Example))
print(Example.count(1))
print(Example[0:3])
print(Example[3])
print(Example[-1])

(1, 'Sharath', 3.12, False)
4
<class 'tuple'>
1
(1, 'Sharath', 3.12)
False
False

In [ ]:
Number = (2,4,7,9,3,9,3,2)
print(Number)
Add = (2,4,5,7)
print(Number + Add)
print(Add * 4)

(2, 4, 7, 9, 3, 9, 3, 2)
(2, 4, 7, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [ ]:
ex = {1,1,2,3,3,4,5}
print(ex)
print(type(ex))
print(len(ex))
ex.add(10)
print(ex)
ex.add("BKC")
print(ex)

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10, 'BKC'}

In [ ]:

first = {1,2,3,4,4,2}
second = {3,5,4,6}
print(first | second)
print(first.union(second))

print(first & second)
print(first.intersection(second))

print(first - second)
print(first.difference(second))

print(second - first)
print(second.difference(first))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [ ]:
Dict = {"Roll_number" : 201,
        "Name"        : "Owais",
        "Address"     : "Chikodi",
        "CGPA"        : 7.53,
        "Course"      : "MCA",
        "Year"        : 2025,
        "Age"         : 19
}
print(Dict)
print(len(Dict))
Dict["Gender"] = "Male"
print(Dict)
Dict["Mobile number"] = 7021140812
print(Dict)
Dict["College"] = "BKC"
print(Dict)
Dict["College"] = "RC University"
print(Dict)
del Dict["Gender"]
print(Dict)
Dict["Gender"] = "Male"
print(Dict)
print(Dict["College"])
print(Dict["Age"])
del Dict["Address"]
print(Dict)
Dict.popitem()
print(Dict)
print(Dict.keys())
print(Dict.values())
print(Dict.items())
print(Dict.clear())

{'Roll_number': 201, 'Name': 'Owais', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'MCA', 'Year': 2025, 'Age': 19}
7
{'Roll_number': 201, 'Name': 'Owais', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'MCA', 'Year': 2025, 'Age': 19, 'Gender': 'Male'}
{'Roll_number': 201, 'Name': 'Owais', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'MCA', 'Year': 2025, 'Age': 19, 'Gender': 'Male', 'Mobile number': 7021140812}
{'Roll_number': 201, 'Name': 'Owais', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'MCA', 'Year': 2025, 'Age': 19, 'Gender': 'Male', 'Mobile number': 7021140812, 'College': 'BKC'}
{'Roll_number': 201, 'Name': 'Owais', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'MCA', 'Year': 2025, 'Age': 19, 'Gender': 'Male', 'Mobile number': 7021140812, 'College': 'RC University'}
{'Roll_number': 201, 'Name': 'Owais', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'MCA', 'Year': 2025, 'Age': 19, 'Mobile number': 7021140812, 'College': 'RC University'}
{'Roll_number': 201, 'Name': 'Owais', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'MCA', 'Year': 2025, 'Age': 19, 'Mobile number': 7021140812, 'College': 'RC University', 'Gender': 'Male'}
RC University
19
{'Roll_number': 201, 'Name': 'Owais', 'CGPA': 7.53, 'Course': 'MCA', 'Year': 2025, 'Age': 19, 'Mobile number': 7021140812, 'College': 'RC University', 'Gender': 'Male'}
{'Roll_number': 201, 'Name': 'Owais', 'CGPA': 7.53, 'Course': 'MCA', 'Year': 2025, 'Age': 19, 'Mobile number': 7021140812, 'College': 'RC University'}
dict_keys(['Roll_number', 'Name', 'CGPA', 'Course', 'Year', 'Age', 'Mobile number', 'College'])
dict_values([201, 'Owais', 7.53, 'MCA', 2025, 19, 7021140812, 'RC University'])
dict_items([('Roll_number', 201), ('Name', 'Owais'), ('CGPA', 7.53), ('Course', 'MCA'), ('Year', 2025), ('Age', 19), ('Mobile number', 7021140812), ('College', 'RC University')])
None

In [ ]:
  Name = {"Name" : "Owais",
          "name" : "Owais",
          "F_name" : "Owais",
          "L_name" : "Owais"
}
print(Name)

{'Name': 'Owais', 'name': 'Owais', 'F_name': 'Owais', 'L_name': 'Owais'}
4

In [ ]:
a = 10
b = 3
c = a + b
print(type(a))
print(type(b))
print(type(c))

print(type(a / b))

x = 2.5
y = 3.5
print(type(x + y))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
# int -> float
a = 49
b = 7
print(type(a / b))

<class 'float'>

In [ ]:
i = True
print(type(i))
j = 5
print(type(i + j))

<class 'bool'>
<class 'int'>

In [ ]:
M = 2.9
N = False
O = M - N
print(type(O))

P = True
Q = False
R = P + Q
print(type(R))

S = 2.6
T = False
print(type(S * T))

<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
num = 3/2
print(type(num))
add = int (num)
print(type(add))

<class 'float'>
<class 'int'>

In [ ]:
num = 3.12
print(type(num))

# Explicit
add = int(num)
print(type(add))

mul = float(add)
print(type(mul))

Num = "101"
print(type(Num))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
Num = "101"
print(type(Num))

#explicit
add = int(Num)
print(type(add))

<class 'str'>
<class 'int'>

In [ ]:
Men = True
print(type(Men))

#Explicit
Fem = int(Men)
print(type(add))

<class 'bool'>
<class 'int'>

In [ ]:
add = int(num)
print(type(add))

num = "101"
print(type(num))

<class 'int'>
<class 'str'>

In [ ]:
Fem = int(Men)
print(type(Fem))

Men = True
print(type(Men))

<class 'int'>
<class 'bool'>

In [ ]:
Demo = 9.99
print(type(Demo))

print(type(bool(Demo)))

<class 'float'>
<class 'bool'>

In [ ]:
demo = True
print(type(demo))

print(type(float(demo)))

<class 'bool'>
<class 'float'>

In [125]:
# 1) str -> list

Num1 = "Owais"
print(type(Num1))

Ex1 = list(Num1)
print(type(Ex1))

# 2) tuple -> list
Num2 = (1,2,3,4,5)
print(type(Num2))

Ex2 = list(Num2)
print(type(Ex2))

# 3) set -> list
Num3 = {1,23,4,5}
print(type(Num3))

Ex3 = list(Num3)
print(type(Ex3))

# 4) Dict -> list
Num4 = {}
print(type(Num4))

Ex4 = list(Num4)
print(type(Ex4))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'list'>
<class 'dict'>
<class 'list'>

print("a = 20, b = 10")

In [129]:
# 1) list -> Dict
Num1 = [("a",1),("b",2),("c",3)]
print(type(Num1))

Ex1 = dict(Num1)
print(type(Ex1))

<class 'list'>
<class 'dict'>

In [136]:
# 2) tuple -> Dict
Num3 = (("Name","Owais"),("Age",25))
print(type(Num3))

Ex3 = dict(Num3)
print(type(Ex3))

<class 'tuple'>
<class 'dict'>

In [137]:
# 3) set -> Dict
Num4 ={("Roo_number",201),("Name", "Owais")}
print(type(Num4))

Ex4 = dict(Num4)
print(type(Ex4).)

<class 'set'>
<class 'dict'>

In [138]:
# I/p a = 10, b = 20
# O/P a = 20, b = 10

A = 10
B = 20
print("Before Swapping")
print("A=",A,"B=",B)

print("After Swapping")
temp = A
A = B
B = temp
print("A=",A,"B=",B)

Before Swapping
A= 10 B= 20
After Swapping
A= 20 B= 10