In [5]:
a ,b,c = 25,35,40
if a > b :
  if a > c :
    print("A is a largest number",a)
  else :
    print("C is a largest number",c)
else :
  if b > c :
    print("B is a largest number",b)
  else :
    print("C is a largest number",c)

C is a largest number 40

In [14]:
num = int(input("Enter a number value is : "))
if num > 0 :
  if num == 0 :
    print("Zero")
  else :
    print("Positive number")
else :
  print("Negative number")

Enter a number value is : 0
Negative number

In [29]:
# Write a programe arithmetic operator using switch statement
x, y = 10, 20
option = int(input("Enter your choice option :"))
match option :
  case 1 :
    print(x + y)
  case 2 :
    print(x - y)
  case 3 :
    print(x * y)
  case 4 :
    print(x / y)
  case 5 :
    print(x % y)
  case 6 :
    print(x != y)
  case _ :
    print("Invalid choice")

Enter your choice option :6
True

In [32]:
day = int(input("Enter your choice option :"))
match option :
  case 1 :
    print("Monday")
  case 2 :
    print("Tuesday")
  case 3 :
    print("Wednesday")
  case 4 :
    print("Thursday")
  case 5 :
    print("Friday")
  case 6 :
    print("Saturday")
  case 7 :
    print("Sunday")
  case _ :
    print("Holiday")

Enter your choice option :8
Holiday

In [44]:
months = int(input("Enter your choice option :"))
match months :
  case 1 :
    print("January")
  case 2 :
    print("February")
  case 3 :
    print("March")
  case 4 :
    print("April")
  case 5 :
    print("May")
  case 6 :
    print("June")
  case 7 :
    print("July")
  case 8 :
    print("August")
  case 9 :
    print("September")
  case 10 :
    print("October")
  case 11 :
    print("November")
  case 12 :
    print("December")
  case _ :
    print("Invalid choice")

Enter your choice option :1
January

In [37]:
i = 1
while i <= 60 :
   print(i,end= " ")
   i += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [41]:
num = 5
i = 1
while i <= 10 :
  print("5 *",i,"=",num*i)
  i = i + 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [53]:
num = 12321
rem = 0
sum = 0
rev = 0
temp = num
while num > 0 :
  rem = num % 10
  rev = rev * 10 + rem
  num = num // 10
if temp == rev :
  print("Palindrome number")
else :
  print("Not Palindrome number")

Palindrome number

In [55]:
i = 2
while i <=100 :
  print(i, end = " ")
  i+=2

2 4 6 8 10 12 14 16 18 20

In [56]:
i = 1
while i <=100 :
  print(i, end = " ")
  i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [59]:
num = int(input("Enter a number value"))
count = 0
i = 1
while i <=1 :
  if num % i == 0:
    count+=1
  i+=1
if count == 2 :
  print("The number is prime")
else :
  print("The number is not prime")

Enter a number value2
The number is not prime

In [60]:
num = 10
i = 0
while num >= i :
  print(num, end=" ")
  num-=1

10 9 8 7 6 5 4 3 2 1 0

In [62]:
i = 10
while i <= 1280 :
  print(i,end=" ")
  i*=2

10 20 40 80 160 320 640 1280

In [65]:
Colours = ['Blue','Red','Pink','Black']
for i in Colours :
  print (i)

Blue
Red
Pink
Black

In [67]:
numbers = {1,2,3,4,5,6,6,7,8,8,9}
for i in numbers :
  print(i)

1
2
3
4
5
6
7
8
9

In [69]:
Name = "KLE BK BCA College Chikodi"
rev = ""
for i in Name:
    rev = i + rev
print(rev)

idokihC egelloC ACB KB ELK