In [ ]:
Example = ["Laptop", 39000, "Widow", "Lenovo","Bengaluru","laptop",39000,"MAC","Lenovo","Chikodi"]
print(Example)
print(Example.count("Lenovo"))

['Laptop', 39000, 'Widow', 'Lenovo', 'Bengaluru', 'laptop', 39000, 'MAC', 'Lenovo', 'Chikodi']
2

In [ ]:
# Run time programe

X = int(input("Enter a X value:"))
Y = int(input("Enter a Y value:"))
print("Addition of",X,"and",Y,"value is =",X + Y)

Enter a X value:100
Enter a Y value:50
Addition of 100 and 50 value is = 150

In [ ]:

first_name = input("Enter first name :")
last_name = input("Enter last name :")
print(first_name+ " "+last_name)

In [ ]:
I = int(input("Enter a I value :"))
J = int(input("Enter a J value :"))
print( I * J)

In [ ]:
i = input()
j = input()
print(i + j)

In [ ]:
X = 100
Y = 50
print(f'Addition of{X} and {Y} value is = {X + Y}')

In [ ]:
X =
Y =
print(f'Division of {X} and {Y} value is = {X / Y}')

In [ ]:
# Hi, Good Morning My name is Owais, i have completed MCA in the year of 2022, currently i'm working in KLE BK BCA College Chikodi 591201
Name = "Owais"
Course = "MCA"
Year = 2022
Department = "BCA"
Pincode = 591201
print(f"Hi,Good Morning My name is {Name},i have completed {Course} in the year of {Year},currently i'm working in KLE BK {Department} College Chikodi {Pincode}")

In [ ]:
Num1 = int(input("Enter a Num1 value :"))
Num2 = int(input("Enter a Num2 value :"))
print("Addition of two numbers is :", Num1 + Num2)
print()
print("Multiplication of two numbers is :", Num1 * Num2)
print()
print("Subtraction of two numbers is :", Num1 - Num2)
print()
print("Division of two numbers is :", Num1 / Num2)
print()
print("Floor Division of two numbers is :", Num1 // Num2)
print()
print("Modulus of two numbers is :", Num1 % Num2)
print()
X = 5
Y = 3
print("Exponent of two numbers is :", X ** Y)

In [ ]:

print(Num1 <= Num2)
print(Num1 >= Num2)
print(Num1 == Num2)
print(Num1 != Num2)

In [ ]:
a = 20
b =35
c =13
d =10

print(a == b and c < d)

print(13 != c and d < c)

print( b > a and d < c)

print(20 != a and c ==b)

print(a < b or d == c)

print( (not (a < b) ) and 100 < 200)

print(not(d  == 10 ))

print(35 != d or (not(20 == a)))

print(not(c <= b and(not(a <= c))))

In [ ]:
X = 10
print(X)

X -= 2
print(X)

X *= 5
print(X)

X //= 3
print(X)

X **= 2
print(X)

X %= 4
print(X)

X += 9
print(X)

X /= 3
print(X)

In [ ]:
Num = 9
if Num < 10 :
  print("10 is a greater than 9")

In [ ]:
User_id = "20MCA103"
Password = 1234
if User_id == "20MCA103" and Password == 1234:
    print("Login Successfully")

In [ ]:
Ex = 59
if Ex == 58 :
  print ("Are you understand")

In [ ]:
Name = "Owais"
if Name <= "BKC":
  print("My name is Owais")

In [ ]:
Num = int(intup("Enter a number value :"))
if Num > 0 :
  print("Positive number")
else :
  print("Negative number")