In [ ]:
print("Hello world " *3)

Hello world Hello world Hello world

In [ ]:
print("Python programming language \n" *5)

Python programming language
Python programming language
Python programming language
Python programming language
Python programming language

In [ ]:
print("My name is Mohammadowais Shaikh , i am from Chikodi, i have completed my 2nd pu in govt college examba, now i am studying bca in bk bba bca college chikodi" )

My name is Mohammadowais Shaikh , i am from Chikodi, i have completed my 2nd pu in govt college examba, now i am studying bca in bk bba bca college chikodi

In [ ]:
print("Hello " + "world")

Hello world

In [ ]:
print("Good morning \n" *10)

Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning

In [ ]:
print(" Urdu  30\n IC    21\n CCP   30\n DBMS  23\n Eng   23\n Acc   21\n ")

 Urdu  30
 IC    21
 CCP   30
 DBMS  23
 Eng   23
 Acc   21

In [ ]:
print("Urdu     30")
print("IC       21")
print("CCP      30")
print("DBMS     23")
print("English  23")
print("Account  21")

Urdu     30
IC       21
CCP      30
DBMS     23
English  23
Account  21

In [ ]:
_N_A_M_E = "Computer"
print(_N_A_M_E)

Computer

In [ ]:
Age = 30
age = 19
print(Age, age)

30 19

In [ ]:
y = 3.24
print(y)

3.24

In [ ]:
yes = True
print(yes)

True

In [ ]:
Owais = 2227
print(Owais)

2227

In [ ]:
NA_12_ME = "Owais"
print(NA_12_ME)

Owais

In [ ]:
Name = "CCP"
Per = 30
print(Name, Per)

CCP 30

In [ ]:
#Hello
text = "Good Evening"
address = "Sayyad galli chikodi"
print("",text )

My name is Owais
BKC College
2025